In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from mpl_toolkits.mplot3d import Axes3D

https://w3.leica-geosystems.com/kb/?guid=5532D590-114C-43CD-A55F-FE79E5937CB2

In [2]:
colsname = ['x', 'y', 'z', 'xn', 'yn', 'zn', 'R', 'G', 'B', 'A', 'quality', 'zz']
lidar = pd.read_csv('/Users/adgreer/Desktop/20180911_SHCCurb3.ply',
                    delimiter=' ',
                    skiprows=18,
                    #nrows=500000, #use None to read the complete dataset or the number of first rows to read
                    header=None,
                    #error_bad_lines=False,
                    #keep_default_na=False,
                    #dtype={0:'float', 1:'float', 2:'float', 3:'float', 4:'int', 5:'int', 6:'int'},
                    #skipfooter=20, engine='python',
                    #
                    )
lidar.columns=colsname
lidar.head()

,x,y,z,xn,yn,zn,R,G,B,A,quality,zz
0,6.531357,-6.797287,-2.386337,0.035693,-0.037846,0.998646,121,142,104,255,0.193973,NaN
1,6.504440,-6.783005,-2.385269,0.044266,-0.033033,0.998474,87,106,78,255,0.188113,NaN
2,6.539658,-6.819748,-2.388138,0.050499,-0.032237,0.998204,130,147,110,255,0.190311,NaN
3,6.489365,-6.780930,-2.385605,0.051617,-0.021600,0.998433,92,113,81,255,0.195926,NaN
4,6.523087,-6.816177,-2.387894,0.046914,-0.039101,0.998133,114,133,97,255,0.185672,NaN

In [3]:
lidar.drop(['zz'], inplace=True, axis=1)
lidar.shape

(29183, 11)

In [4]:
lidar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29183 entries, 0 to 29182
Data columns (total 11 columns):
x          29183 non-null float64
y          29183 non-null float64
z          29183 non-null float64
xn         29183 non-null float64
yn         29183 non-null float64
zn         29183 non-null float64
R          29183 non-null int64
G          29183 non-null int64
B          29183 non-null int64
A          29183 non-null int64
quality    29183 non-null float64
dtypes: float64(7), int64(4)
memory usage: 2.4 MB

In [5]:
lidar.describe()

,x,y,z,xn,yn,zn,R,G,B,A,quality
count,29183.000000,29183.000000,29183.000000,29183.000000,29183.000000,29183.000000,29183.000000,29183.000000,29183.000000,29183.0,29183.000000
mean,4.932356,-8.720809,-2.270046,0.036247,0.127371,0.925469,66.976836,74.691019,58.740739,255.0,0.203770
std,0.898344,1.196609,0.076286,0.057298,0.288633,0.198451,47.845634,55.350114,42.502612,0.0,0.051759
min,3.398544,-11.132130,-2.464401,-0.737330,-0.172412,0.016637,1.000000,0.000000,0.000000,255.0,0.126833
25%,4.163605,-9.627823,-2.329056,0.023887,-0.023591,0.989550,27.000000,27.000000,23.000000,255.0,0.180789
50%,4.904037,-8.750076,-2.268173,0.050224,0.000033,0.997379,61.000000,66.000000,53.000000,255.0,0.192508
75%,5.689209,-7.674621,-2.204086,0.063133,0.112833,0.998382,105.000000,120.000000,92.000000,255.0,0.217899
max,6.580704,-6.780930,-2.090378,0.428332,0.999164,1.000000,228.000000,243.000000,207.000000,255.0,0.955459

In [6]:
lidar['hexcolor'] = '#' +  lidar['R'].apply(lambda x:'{0:02x}'.format(x)) + lidar['G'].apply(lambda x:'{0:02x}'.format(x)) + lidar['B'].apply(lambda x:'{0:02x}'.format(x))
            
lidar.head()

,x,y,z,xn,yn,zn,R,G,B,A,quality,hexcolor
0,6.531357,-6.797287,-2.386337,0.035693,-0.037846,0.998646,121,142,104,255,0.193973,#798e68
1,6.504440,-6.783005,-2.385269,0.044266,-0.033033,0.998474,87,106,78,255,0.188113,#576a4e
2,6.539658,-6.819748,-2.388138,0.050499,-0.032237,0.998204,130,147,110,255,0.190311,#82936e
3,6.489365,-6.780930,-2.385605,0.051617,-0.021600,0.998433,92,113,81,255,0.195926,#5c7151
4,6.523087,-6.816177,-2.387894,0.046914,-0.039101,0.998133,114,133,97,255,0.185672,#728561

In [ ]:
# Calculate point distance and angles from scanner

In [17]:
lidar['dist']=np.sqrt(lidar.x**2+lidar.y**2+lidar.z**2)
lidar['theta_x']=np.arccos(lidar.x/lidar.dist)*(180/np.pi)
lidar['theta_y']=np.arccos(lidar.y/lidar.dist)*(180/np.pi)
lidar['theta_z']=np.arccos(lidar.z/lidar.dist)*(180/np.pi)
lidar.head()

,x,y,z,xn,yn,zn,R,G,B,A,quality,hexcolor,dist,theta_x,theta_y,theta_z
0,6.531357,-6.797287,-2.386337,0.035693,-0.037846,0.998646,121,142,104,255,0.193973,#798e68,9.724008,47.803656,134.348519,104.205871
1,6.504440,-6.783005,-2.385269,0.044266,-0.033033,0.998474,87,106,78,255,0.188113,#576a4e,9.695690,47.866610,134.394096,104.241726
2,6.539658,-6.819748,-2.388138,0.050499,-0.032237,0.998204,130,147,110,255,0.190311,#82936e,9.745732,47.853552,134.408366,104.184463
3,6.489365,-6.780930,-2.385605,0.051617,-0.021600,0.998433,92,113,81,255,0.195926,#5c7151,9.684213,47.925425,134.443417,104.261013
4,6.523087,-6.816177,-2.387894,0.046914,-0.039101,0.998133,114,133,97,255,0.185672,#728561,9.732059,47.912253,134.457809,104.203328